<div>
  <div class="xroma">
    <div  *ngFor="let s of cpuName">
      <input  type="checkbox" [(ngModel)]="s.checked" (click)="updateFilter(s)"  >{{s.name}}
    </div>
  </div>

  <div class="xroma">
    <div  *ngFor="let n of cpuCode">
      <input  type="checkbox" [(ngModel)]="n.checked" (click)="updateFilter(n)"  >{{n.name}}
    </div>
  </div>
  
  <ul>
      <div *ngFor="let a of allCpu | filterPipe: filterArr">
          ID: {{a.id}}, Name: {{a.name}}, Code: {{a.code}}
      </div>
  </ul>
</div>
